
.vs/Interpreter/v17/ipch/AutoPCH/1de2be4648c3ca1b/INTERPRETER.ipch
.vs/Interpreter/v17/Browse.VC.db-wal
.vs/Interpreter/v17/Browse.VC.opendb
.vs/Interpreter/v17/Browse.VC.db-shm
.vs/Interpreter/v17/Browse.VC.db
.vs/Interpreter/FileContentIndex/read.lock
.vs/Interpreter/FileContentIndex/d3e9f6ac-415a-4718-a334-7f4ae4770f60.vsidx
*.recipe
*.ilk
*.obj
*.log
*.tlog
*.enc
*.idb
*.pdb
.vs/Interpreter/copilot-chat/1d0c42a1/V0_fa20ab2f-fe9c-4443-9a17-5d4fa0e73d19_Default
*.vsidx
*.ipch
*.db
.vs/Interpreter/v17/.suo
*.exe
*.txt
